
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url("https://img.freepik.com/free-vector/pyrotechnics-fireworks-city-background-with-city-sky_1284-54177.jpg?t=st=1730730857~exp=1730734457~hmac=d68666a48a8792d6940f711dd5930bbabbdd60b89d929d2dd40ab866111803f7&w=826");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
  margin-bottom: 20px;
  color: red;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: red;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #45a049;
}

.signup-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.signup-text a {
  color: red;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 480px) {
  .login-form {
    padding: 20px;
  }

  .login-btn {
    font-size: 14px;
  }
}