*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header{
    text-align: center;
    background-color: red;
    color: white;
    padding: 15px;
    
}
.main img{
    height: 40%;
    width: 100%;
}
.head{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    background-color: blue;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-container > .box{
    margin-top: 30px;
    padding: 30px;
}
.flex-container > .box button{
    margin-top: 10px;
    padding: 8px;
    border: 2px solid black;
    background-color: rebeccapurple;
    color: white;
    border-radius: 3px;
}

@media screen and (max-width:650px){
    .header{
        text-align: center;
        background-color: red;
        color: white;
        padding: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .main img{
        height: 30%;
        width: 100%;
    }
    .head{
        font-size: 15px;
        font-weight: bolder;
        color: white;
        background-color: blue;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
    }
    /* .flex-container{
        display: flex;
        justify-content: center;
    } */
    .flex-container > .box img{
        margin-top: 5px;
        padding: 5px;
        height: 100px;
        width: 100px;
    }
    .flex-container > .box button{
        margin-top: 5px;
        padding: 4px;
        border: 2px solid black;
        background-color: rebeccapurple;
        color: white;
        border-radius: 3px;
    }

    
}